.default {
    width: 210px;
    height: 65px;
    color: #ffffff;
    background: transparent;
    border: none;
}

button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

@keyframes blink {
    0% {
        left: -130%;
        color: black;
    }
    100% {
        left: 130%;
    }
}

button:hover:enabled {
    cursor: pointer;
    opacity: 0.75;
}

.default:active {
    animation: blink 3s linear infinite;
}
