@import "../../Styles/SASS/variables";
@import "../../Styles/SASS/mixins";

.default {
  @include fontParams(14px, 1.2, 100, $secondaryTextColor, "Museo sans cyrl");
  @include flexCenter();
  position: relative;
  min-height: 35px;
  min-width: 180px;
  background: rgb(0, 0, 0);
  padding: 0;
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(189.0deg, #263e66 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
  border-image-slice: 1;
  background-origin: border-box;
  background-clip: content-box, border-box;

  &:before, {
    content: " ";
    position: absolute;
    z-index: 100;
    bottom: -2px;
    left: -2px;
    width: 7px;
    height: 7px;
    border-width: 0 0 2px 2px;
    border-color: white;
    border-style: solid;
    box-shadow: -3px 3px 12px 1px rgba(177, 177, 177, 0.68)
  }

  &:after {
    content: " ";
    position: absolute;
    background: black;
    z-index: 100;
    top: -2px;
    right: -2px;
    width: 7px;
    height: 7px;
    border-width: 2px 2px 0 0;
    border-color: white;
    border-style: solid;
    box-shadow: 4px -3px 12px 1px rgba(177, 177, 177, 0.68)
  }
}

button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

@keyframes blink {
  0% {
    left: -130%;
    color: black;
  }
  100% {
    left: 130%;
  }
}

button:hover:enabled {
  cursor: pointer;
  opacity: 0.75;
}

.default:active {
  animation: blink 3s linear infinite;
}
