@import "../../../../common/Styles/SASS/variables";
@import "../../../../common/Styles/SASS/mixins";
@import "../../../../common/Styles/SASS/devices";

.burgerNav {
  display: none;
  height: 100%;
  width: 100%;

  .burgerNavItems {
    @include flexCenter(space-around, column);
    z-index: 99;
    position: absolute;
    background-color: $primaryColor;
    color: $primaryTextColor;
    padding: 24px;
    top: 0;
    right: 0;
    left: 0;
    height: 0;
    transform: translate(0, -220px);
    transition: ease-in 0.7s;
    .link {
      &:hover {
      }
      .active {
      }
    }
  }

  .burgerBtn {
    z-index: 100;
    position: absolute;
    right: 25px;
    top: 25px;
    width: 48px;
  }

  .show {
    transform: translate(0, 0);
    transition: ease-in 0.7s;
    height: 220px;
  }


  @media screen and (max-width: $tablet) {
    display: block;
  }

}