.main {
  min-width: 1920px;
  min-height: 660px;
  background-image: url("../../../assets/img/fon_10.png");
  background-size: cover;
  background-position:  center;
  background-repeat: no-repeat;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}