@import "../../../common/Styles/SASS/mixins";
@import "../../../common/Styles/SASS/variables";

.main {
  min-width: 1920px;
  min-height: 660px;
  background-image: url("../../../assets/img/fon_10.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  .container {
    @include container();
    @include flexCenter(space-between);
    padding-top: 130px;

    .textBlock {
      margin-left: 15px;

      h1 {
        @include fontParams(58px, 1, 700, $primaryTextColor);
        @include textGradient();
        text-transform: uppercase;
        margin-bottom: 95px;
        position: relative;

        .subtitle {
          padding-top: 0;
          @include fontParams(25px, 1, 300, $primaryTextColor);
          @include textGradient();
          position: absolute;
          text-transform: none;
          top: 58px;
        }

      }
    }
  }
}
