@import "../../../common/Styles/SASS/variables";
@import "../../../common/Styles/SASS/mixins";
@import "../../../common/Styles/SASS/corners";
@import "../../../common/Styles/SASS/devices";

.wrapper {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  border-top: 1px solid rgba(177, 177, 177, 0.3);
  border-bottom: 1px solid rgba(177, 177, 177, 0.3);

  .header {
    @include container();
    @include flexCenter(space-between);

    .box {
      box-sizing: border-box;
      @include flexCenter();
      width: 316px;
      height: 100px;
      position: relative;
      top: 0;
      left: 14px;
      border-right: 1px solid rgba(177, 177, 177, 0.3);
      border-left: 1px solid rgba(177, 177, 177, 0.3);

      &.out {
        @include line-corners-out($secondaryTextColor);
      }

      &:hover {
        border: 0;
      }

      img {
        margin-left: 10px;
        margin-bottom: 10px;
      }
    }
  }
}


@media (max-width: $tablet) {
  .wrapper {
    height: 60px;
    border: 0;

    .header {
      .box {
        width: 35%;
        left: -9px;
        top:1px;
        border: 0;
        img {
          margin-left: 20px;
          width: 90%;
        }
      }
    }
  }
}


