@font-face {
  font-family: 'Museo Sans Cyrl';
  font-weight: 100;
  src: local('Museo Sans Cyrl'), url(assets/fonts/Museo/museosanscyrl_100.otf) format('truetype');
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-weight: 300;
  src: local('Museo Sans Cyrl'), url(assets/fonts/Museo/museosanscyrl_300.ttf) format('truetype');
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-weight: 700;
  src: local('Museo Sans Cyrl'), url(assets/fonts/Museo/museosanscyrl_700.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}