@mixin flexCenter($justifyContent: center, $flexDirection: row) {
  display: flex;
  justify-content: $justifyContent;
  align-items: center;
  flex-direction: $flexDirection;
}

@mixin fontParams($size, $lineHeight, $weight, $color, $font-family: "Museo sans cyrl") {
  font-family: $font-family;
  font-size: $size;
  line-height: $lineHeight;
  font-weight: $weight;
  color: $color;
  margin: 0;
}

@mixin container {
  margin: 0 auto;
  max-width: 1200px;

  @media (max-width: 768px) {
    max-width: 720px;
  }
  @media (max-width: 425px) {
    max-width: 425px;
  }
}